.hero-text {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.hero-text h1 {
    font-size: 42px;
    line-height: 1.4;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 600px;
    border-radius: 25px;
}