.ra-filterbar--company {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.ra-filterbar--dates {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

@media (max-width: 900px) {
  .ra-filterbar--company {
    grid-template-columns: 1fr;
  }
}